{% block doc %}
<!DOCTYPE html>
<html>
{% block html %}
  <head>
    {% block head %}
      <title>Project Mgr</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">

      {% block metas %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock metas %}

    {% endblock head %}
  </head>

  <body>
    {% block body %}

      {% block navbar %}
      {% endblock navbar %}

      {% block content %}
      {% endblock content %}

      {% block scripts %}
        <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
      {% endblock scripts %}

    {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}